@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$title-font: 'Dancing Script', cursive;
$dark-blue: #262B62;
$grey: #8D99AE;
$light-gray: #edf2f4;
$red: #d80032;
$light-red: #d4a6b0;
$margin: 2px;

// @media screen and (max-width: 800px) {
//     flex-direction: column;
// }

// @media screen and (min-width: 801px) {
//     flex-direction: row;
//     flex-wrap: wrap;    
// }

// @media screen and (min-width: 1024px) {
//     flex-direction: row;
//     flex-wrap: wrap;   
// }

.App {
    width: 80%;
}

@mixin header-title {
    font-family: $title-font;
    font-size: 40px;
    color: $dark-blue;
    margin: 70px auto 10px 30px;
}

.title {
    @include header-title;
}

// div {
//     border: 2px solid $dark-blue;
// }

.calendar {
    display: flex;
    flex-wrap: wrap;
    padding: $margin;
    width: calc(100% - (2 * #{$margin}));
    justify-content: center;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 2rem;
    margin: $margin;
    width: calc((100% / 7) - (2 * #{$margin}));
    background-color: $grey;
}

select {
    width: 150px;
}

.selects {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 30px 0px;
}

.calendar-boxes {
    max-width: 800px;
}
