@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$main-font: 'Lobster', cursive;
$dark-blue: #262B62;
$grey: #8d99ae;
$light-gray: #edf2f4;
$red: #d80032;
$light-red: #d4a6b0;
$day-margin: 2px;
$day-padding: 5px;
$shadow: 4px 4px 16px rgb(0 0 0 / 46%);

// @media screen and (max-width: 800px) {
//     flex-direction: column;
// }

// @media screen and (min-width: 801px) {
//     flex-direction: row;
//     flex-wrap: wrap;    
// }

// @media screen and (min-width: 1024px) {
//     flex-direction: row;
//     flex-wrap: wrap;   
// }



@mixin header-title {
    font-size: 3rem;
    margin: 70px auto 10px 30px;
    text-shadow: $shadow;
}

@mixin choose {
    width: 200px;
    font-size: 1.1rem;
    border-radius: 50px;
    background-color: $red;
    border-color: $red;
    color: $light-gray;
    text-align: center;
    padding: 8px;
    font-family: $main-font;
    letter-spacing: 1px;
    margin: 5px;
}

.App {
    width: 80%;
    max-width: 800px;
    font-family: $main-font;
    color: $dark-blue;
}

.title {
    @include header-title;
}

// div {
//     border: 2px solid $dark-blue;
// }

.calendar {
    display: flex;
    flex-wrap: wrap;
    padding: $day-margin;
    width: calc(100% - (2 * #{$day-margin}));
    justify-content: center;
}

.calendar-day { //button
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: $shadow;
    padding: $day-padding;
    border: none;
    width: 100%;
    height: 100%;
    position: relative;

    .day-number {
        position: absolute;
        top: $day-padding;
        left: $day-padding;
    }

    &-wrapper { //div
        height: 80px;
        font-size: 1rem;
        margin: $day-margin;
        width: calc((100% / 7) - (2 * #{$day-margin}));
    }

    &-details-wrapper {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 50%);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        
        &.show {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &-details {
        background: #d4a6b0;
        width: 60vw;
        height: 80vh;
    }
    
    &.current-day {
        border: 5px dotted $red;
    }
}

.currentMonthDay {
    background-color: $grey;
}

.otherMonthDay {
    background-color: $light-gray;
}

.selects {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 0px;
}

.select {
    @include choose;
}

.calendar-boxes {
    max-width: 800px;
}

.weekdays {
    display: flex;
    font-size: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  &.small {
    font-size: 24px;
  }
  &.medium {
    font-size: 32px;
  }
  &.big {
    font-size: 40px;
  }
}